Repository whatnick/aws-tf-vibe: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint Frontend
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: eslint-backend
        name: ESLint Backend
        entry: bash -c 'cd backend && npm run lint'
        language: system
        files: ^backend/.*\.js$
        pass_filenames: false

docs: Add Terraform infrastructure components documentation
  README.md
Due: none

ci: Add GitHub Actions workflows for automated deployment
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
Due: none

feat: Make application responsive and dynamically sized
  frontend/src/App.jsx
  frontend/src/components/MapComponent.jsx
  frontend/src/index.css
  frontend/src/main.jsx
Due: eslint-frontend

test: Add Jest test suites for frontend and backend
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/jest.config.js
  backend/package.json
  backend/src/__tests__/stac.test.js
  backend/src/__tests__/stacService.test.js
  backend/src/routes/stac.js
  backend/src/services/stacService.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/__tests__/App.test.jsx
  frontend/src/__tests__/SatelliteSummary.test.jsx
  frontend/src/components/SatelliteSummary.jsx
  frontend/src/services/stacApi.js
  frontend/src/setupTests.js
  lambda/routes/stac.js
Due: eslint-frontend, eslint-backend

test: Comprehensive test suite with 90% coverage
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  backend/babel.config.js
  backend/jest.config.js
  backend/package.json
  backend/src/__tests__/geocodingService.test.js
  backend/src/__tests__/stac.test.js
  backend/src/__tests__/stacService.test.js
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__tests__/FilterPanel.test.jsx
  frontend/src/__tests__/LocationSearch.test.jsx
  frontend/src/__tests__/MapComponent.test.jsx
  frontend/src/__tests__/stacApi.test.js
  frontend/src/components/SatelliteSummary.jsx
Due: eslint-frontend, eslint-backend

docs: Update README to reflect current production state
  README.md
Due: none

feat: Add security headers, compression, and comprehensive Lambda tests
  lambda/__tests__/index.test.js
  lambda/index.js
  lambda/jest.config.js
  lambda/package-lock.json
  lambda/package.json
Due: none

docs: Update project structure with detailed terraform and lambda sections
  README.md
Due: none

feat: Add Docker Compose setup for local full-stack development
  .dockerignore
  README.md
  docker-compose.override.yml
  docker-compose.yml
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
  scripts/dev-setup.sh
Due: none

refactor: move scripts to scripts folder and fix Docker setup
  README.md
  backend/src/services/geocodingService.js
  docker-compose.override.yml
  docker-compose.yml
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
  scripts/deploy.sh
  scripts/destroy.sh
Due: eslint-backend

ci: add Docker Compose integration test workflow
  .github/workflows/integration-test.yml
Due: none

feat: implement Docker-based testing with comprehensive coverage
  .github/workflows/deploy.yml
  .github/workflows/integration-test.yml
  .github/workflows/test.yml
  README.md
  backend/babel.config.cjs
  backend/jest.config.js
  backend/src/__tests__/geocodingService.test.js
  docker-compose.yml
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
  frontend/babel.config.cjs
  frontend/jest.config.cjs
  frontend/jest.config.js
  frontend/src/__mocks__/leaflet.js
  frontend/src/__mocks__/react-leaflet-draw.js
  frontend/src/__mocks__/react-leaflet.js
  frontend/src/__tests__/App.test.jsx
  frontend/src/__tests__/FilterPanel.test.jsx
  frontend/src/__tests__/LocationSearch.test.jsx
  frontend/src/__tests__/SatelliteSummary.test.jsx
  frontend/src/__tests__/stacApi.test.js
  scripts/run-tests.sh
Due: eslint-frontend, eslint-backend

chore: update all package-lock.json files
  frontend/package-lock.json
Due: none

Add backend package lock
  backend/package-lock.json
Due: none
